/* Fonts */

/* CSS Variables */
:root {
	--black: #222;
	--grey: #eee;

	--border: 1px solid var(--black);
}

/* Base */
:root {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ol,
ul {
	margin: 1rem 0;
}

li {
	margin: 1rem 0;
}
